.align {
  text-align: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.middle {
  display: flex;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.none {
  outline: none;
}
.contain {
  background-size: contain;
}
.cover {
  background-size: cover;
}
/*首页*/
main {
  background-color: #fafafa;
  padding-bottom: .9rem;
}
.container {
  position: relative;
}
.box-four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  padding-top: .2rem;
  vertical-align: top;
}
.box .shape1 {
  height: .53rem;
  width: .47rem;
  background-image: url(../../task14/images/sprite-2.png);
  background-position: 0 0;
  background-size: 100%;
  margin: 0 auto;
}
.box .shape2 {
  height: .53rem;
  width: .55rem;
  background-image: url(../../task14/images/sprite-2.png);
  background-position: 0 -60px;
  background-size: 100%;
  margin: 0 auto;
}
.box .shape3 {
  height: .53rem;
  width: .55rem;
  background-image: url(../../task14/images/sprite-2.png);
  background-position: 0 99%;
  background-size: 100%;
  margin: 0 auto;
}
.box .efficient {
  font-size: .18rem;
  text-align: center;
  line-height: .7rem;
}
.box .shape-detail {
  display: inline-block;
  width: 2.28rem;
  font-size: .16rem;
  color: #999;
}
.dashed {
  margin: 0;
  border-left: 1px dashed #999;
  font-size: .18rem;
  color: #999;
  padding: .5rem 0 .5rem .5rem;
}
.dashed .head {
  background: url(../../task14/images/user.png) center no-repeat;
  width: .13rem;
  height: .13rem;
  background-size: 100%;
  display: inline-block;
}
.dashed .total {
  color: #29b078;
}
.dashed .total-detail {
  line-height: .5rem;
}
.how {
  font-size: .18rem;
  line-height: 1.3rem;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .box-line {
    width: 68%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 996px) {
  .box-line {
    width: 3.5rem;
  }
}
.box-step {
  font-size: 0;
  margin-bottom: .8rem;
  display: inline-flex;
  align-items: center;
}
.box-step .round {
  float: left;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .1rem;
  background-color: white;
  box-shadow: 1px 1px 18px 1px #999;
  font-size: .18rem;
  color: #29b078;
}
.box-step .step {
  width: 1.6rem;
  font-size: .14rem;
  color: #999;
  line-height: .25rem;
}
.box-step .arrow {
  background: url(../../task14/images/arrow.png) center no-repeat;
  width: .32rem;
  height: .3rem;
  background-size: 100%;
  margin: 0 .25rem;
}
.box-step .last {
  width: 1.22rem;
}
.student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.student-box {
  width: 2.1rem;
  padding: .2rem .3rem .3rem .3rem;
  box-shadow: 1px 1px 6px 1px #999;
  display: inline-block;
}
.student-box .avatar-four {
  margin: 0 auto;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-size: 100%;
}
.student-box .avatar {
  margin: 0 auto;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-size: 100%;
  background: url(../../task14/images/avatar.png) center no-repeat;
}
.student-box .avatar2 {
  margin: 0 auto;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-size: 100%;
  background: url(../../task14/images/avatar2.png) center no-repeat;
}
.student-box .avatar3 {
  margin: 0 auto;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-size: 100%;
  background: url(../../task14/images/avatar3.png) center no-repeat;
}
.student-box .avatar4 {
  margin: 0 auto;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-size: 100%;
  background: url(../../task14/images/avatar4.png) center no-repeat;
}
.student-box p {
  font-size: .18rem;
  text-align: center;
  line-height: .75rem;
  padding: 0;
}
.student-box .introduce {
  font-size: .16rem;
  color: #999;
  line-height: .23rem;
}
.company {
  background-color: white;
  border: 1px solid #e2e2e2;
  margin-bottom: .9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.company .box-company {
  margin: .02rem 0;
}
.company .box-company:hover {
  box-shadow: 1px 1px 15px 1px #999;
}
.footer-top .link {
  font-size: .18rem;
  text-align: center;
  line-height: .5rem;
}
.footer-top .link-detail span {
  color: #999;
  margin-right: .5rem;
  margin-bottom: .12rem;
  font-size: .14rem;
  border-bottom: 1px solid white;
  display: inline-block;
}
.footer-top .link-detail span:hover {
  border-bottom: 1px solid #29b078;
}
@media screen and (max-width: 1200px) {
  .container .box-four {
    display: block;
    margin: 0 auto;
    width: 2rem;
  }
  .container .student .student-box {
    margin: .3rem auto;
    width: calc(100% - .6rem);
    display: block;
  }
  .container .student {
    display: block;
  }
}
/*推荐页*/
.introduce {
  font-size: .14rem;
  color: #999;
  line-height: .3rem;
}
.background {
  font-size: 0;
  background-color: #f1a750;
}
.background img {
  width: 100%;
}
.direct {
  line-height: .8rem;
  font-size: .16rem;
}
.direct .direct-com {
  color: #29b078;
}
.list-box {
  float: left;
  width: 26%;
  background-color: white;
  box-shadow: 1px 1px 5px 1px #e6e6e6;
}
.list-box .com-title {
  text-align: center;
  line-height: .62rem;
  font-size: .16rem;
  border-bottom: 1px solid #e6e6e6;
}
.list-box .com-list {
  width: 1rem;
  margin: .1rem auto;
  line-height: .5rem;
  font-size: .14rem;
  text-align: left;
}
.list-box .com-list a {
  display: block;
  color: #29b078;
}
.list-box .com-list a:hover {
  color: #ff7527;
}
.list-box .com-list a:hover .round-com {
  background-color: #f9a372;
}
.list-box .com-list .round-com {
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: .1rem;
  background-color: white;
  border: 1px solid #ff7527;
}
.com-box {
  float: right;
  width: 70%;
  margin-bottom: 1.4rem;
  background-color: white;
  box-shadow: 1px 1px 5px 1px #e6e6e6;
}
.com-box .com-title {
  border-bottom: 1px solid #e6e6e6;
  padding: .2rem .6rem;
}
.com-box .com-title .com-logo {
  background: url(../../task14/images/tudou.png) center no-repeat;
  float: left;
  width: 2.1rem;
  height: 1rem;
}
.com-box .com-title .com-introduce {
  font-size: .14rem;
  color: #999;
  line-height: .3rem;
}
.com-box .com-detail {
  padding: .3rem .7rem 1.7rem .7rem;
  font-size: .14rem;
  color: #999;
  line-height: .3rem;
}
@media screen and (max-width: 768px) {
  .container .list-box {
    width: 100%;
  }
  .container .com-box {
    width: 100%;
  }
}
/*职业列表页*/
.direction {
  border-top: 1px solid #d0d6d9;
  border-bottom: 1px solid #edf1f2;
}
.direction span {
  display: inline-block;
  margin: .2rem .32rem .2rem 0;
  font-size: .14rem;
}
.direction .first {
  color: #999;
}
.direction .next:hover {
  background-color: #29b078;
  color: white;
  cursor: pointer;
}
.line {
  line-height: .8rem;
  font-size: .16rem;
  border-bottom: 1px solid #d0d6d9;
}
.card-three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  position: relative;
  display: inline-block;
  margin-top: .46rem;
  width: 32%;
  box-shadow: 1px 1px 10px 1px #999;
  background-color: white;
}
.card:hover .animation {
  opacity: 1;
}
.card-top {
  padding: .2rem .1rem;
}
.card-top .avatar {
  float: left;
  margin-right: .1rem;
  background: url(../../task14/images/avatar.jpg) center no-repeat;
  width: 1.4rem;
  height: 1.4rem;
  background-size: contain;
}
.card-top .web {
  line-height: .42rem;
  font-size: .16rem;
}
.card-top .web-introduce {
  font-size: .14rem;
}
.line-right {
  border-right: 1px solid #edf1f2;
}
.key {
  display: inline-flex;
  float: left;
  align-items: center;
  width: calc(50% - 1px);
  height: .4rem;
  font-size: .12rem;
  border-top: 1px solid #edf1f2;
  color: #a1a1a1;
}
.key .key-words {
  margin: 0 .1rem;
}
.key .num {
  color: #f01400;
}
.key .year {
  color: black;
}
.salary-line .salary {
  float: left;
  width: 40%;
  height: 1.2rem;
  color: #a1a1a1;
  font-size: .12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #edf1f2;
}
.salary-line .salary-detail {
  float: left;
  width: calc(60% - 1px);
  line-height: .4rem;
  border-top: 1px solid #edf1f2;
  font-size: .12rem;
}
.salary-line .salary-detail .experience {
  float: left;
  margin-left: .1rem;
}
.salary-line .salary-detail .salary-month {
  float: right;
  margin-right: .1rem;
}
.study-now {
  padding-left: .1rem;
  font-size: .14rem;
  border-top: 1px solid #edf1f2;
  line-height: .4rem;
}
.study-now .red {
  color: #f01400;
}
.tips {
  color: #a1a1a1;
}
.animation {
  position: absolute;
  top: 0;
  height: calc(100% - .5rem);
  padding: .5rem .4rem 0 .4rem;
  font-size: .16rem;
  line-height: .24rem;
  color: white;
  background-color: rgba(0, 0, 9, 0.7);
  opacity: 0;
  transition: 1s linear;
}
.animation .card-cover-item {
  line-height: .8rem;
  text-align: center;
}
.card-none {
  width: 32%;
  opacity: 0;
}
@media screen and (max-width: 996px) {
  .card-three .card {
    width: 49%;
  }
}
@media screen and (max-width: 768px) {
  .card-three .card {
    width: 100%;
  }
}
